best_model/
stopped_early.txt
check_cases.txt
check_valid/
list_best_parameters.txt
list_original_parameters_0.00005.txt
list_original_parameters_1.0.txt
loss_results.txt
results/
.idea
new_results/
data/
hd
py_scripts/__pycache__/
old_results_do_not_delete/
summary_results.csv
